bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

*.log
.env
.env.*
!.env.example

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.git
.gitignore
.github
README.md
repomix.txt

.vendor/
vendor/